---
import Numbers from "../../components/Numbers";
---

<section class="our-numbers bg-secondary text-white py-space-2xl">
  <div class="container py-space-2xs">
    <small class="text-primary text-center d-block mb-space-xs"
      >Our numbers</small
    >
    <h2 class="text-center mx-space-auto mb-space-xl">
      Handshake infographic mass market crowdfunding iteration.
    </h2>
    <Numbers client:visible />
  </div>
</section>
