---
import TeamGrid from "../../components/TeamGrid.astro";
---

<section class="our-team">
  <div class="container">
    <div
      class="our-story mx-space-auto mt-space-3xl mb-space-xl"
      data-aos="fade"
    >
      <small class="text-gray">Our team</small>
      <h2 class="mt-space-xs">The leadership team</h2>
      <p class="text-gray mt-space-s">
        Conversion angel investor entrepreneur first mover advantage. Handshake
        infographic mass market crowdfunding iteration. Traction stock user
        experience deployment beta innovator incubator focus.
      </p>
    </div>
    <TeamGrid />
  </div>
</section>
