---
import ValueList from "../../components/ValueList.astro";
---

<section class="bg-secondary text-primary py-space-3xl">
  <div class="container">
    <div class="our-story mx-space-auto pt-space-s pb-space-xl" data-aos="fade">
      <small>Our values</small>
      <h2 class="mt-space-xs text-white">Things in we believe</h2>
      <p class="mt-space-s">
        Conversion angel investor entrepreneur first mover advantage. Handshake
        infographic mass market crowdfunding iteration. Traction stock user
        experience deployment beta innovator incubator focus.
      </p>
    </div>
    <ValueList />
  </div>
</section>
