---
import Layout from "../layouts/Layout.astro";
import GridSection from "../layouts/about/GridSection.astro";
import HeadAbout from "../layouts/about/HeadAbout.astro";
import OurStory from "../layouts/about/OurStory.astro";
import Footer from "../layouts/Footer.astro";
import Subcribe from "../layouts/Subcribe.astro";
import OurNumbers from "../layouts/about/OurNumbers.astro";
import OurTeam from "../layouts/about/OurTeam.astro";
import OurValues from "../layouts/about/OurValues.astro";
---

<Layout title="Boldo | About">
  <HeadAbout />
  <main>
    <GridSection />
    <OurStory />
    <OurNumbers />
    <OurTeam />
    <OurValues />
    <Subcribe />
  </main>
  <Footer />
</Layout>
