.btn {
  --border-c: var(--borde, transparent);
  border: 2px solid var(--border-c);
  background-color: var(--bg-color, var(--color-white));
  color: var(--color, var(--color-secondary));
  border-radius: 100vw;
  font-weight: bold;
  display: inline-block;
  cursor: pointer;
  &:hover,
  &:focus {
    --_hover-bg: var(--hover-bg, var(--color-white));
    --_hover-text: var(--hover-text, var(--color-secondary));
    background-color: var(--_hover-bg);
    color: var(--_hover-text);
    transform: scale(0.98);
    transition: scale 0.2s ease;
  }
}

.btn[data-bg="tertiary"] {
  --hover-bg: var(--color-secondary);
  --hover-text: var(--color-tertiary);
  --borde: var(--color-tertiary);
  --bg-color: var(--color-tertiary);
}
.btn[data-bg="transparent"] {
  --color: var(--color-primary);
  --borde: var(--color-white);
  --bg-color: transparent;
}
.btn[data-bg="blue"] {
  --bg-color: var(--color-secondary);
  --color: var(--color-primary);
  --borde: var(--color-secondary);
}
.btn[data-bg="white"] {
  --borde: var(--color-secondary);
  --hover-bg: var(--color-secondary);
  --hover-text: var(--color-primary);
}

.btn[data-small="blue-white"] {
  --borde: var(--color-secondary);
}
