@use "../01-abstracts" as ab;
.form {
  &__box-input {
    --horizontal-alignment: center;
    margin: var(--space-xl) auto auto;
    max-width: 37.75rem;

    & input {
      border-radius: 100vw;
      flex-grow: 1;
    }

    & button {
      flex-grow: 1;
      @include ab.breakpoint(md) {
        flex-grow: 0;
      }
    }
  }
}
