@use "../01-abstracts" as ab;
.grid-image {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "img1 img2"
    "img3 img4"
    "imgM imgM";
  gap: var(--space-m);

  & > :not(:nth-child(3)) {
    border-radius: ab.px-to-rem(12px);
    overflow: hidden;
    @include ab.breakpoint(md) {
      grid-row: auto;
    }
  }
  @include ab.breakpoint(md) {
    grid-row: auto;
    grid-template-rows: none;
  }

  & > :nth-child(3) {
    grid-row: 2 span;
    border-radius: ab.px-to-rem(12px);
    overflow: hidden;
    @include ab.breakpoint(md) {
      grid-area: imgM;
    }
  }

  & > :nth-child(4) {
    @include ab.breakpoint(md) {
      transform: translateY(ab.px-to-rem(-18px));
    }
  }

  @include ab.breakpoint(md) {
    padding-inline: 3rem;
    grid-template-columns: auto 36.4% auto;
    grid-template-areas:
      "img1 imgM img2"
      "img3 imgM img4";
    row-gap: ab.px-to-rem(40px);
    column-gap: ab.px-to-rem(50px);
  }
  & img {
    width: 100%;
    object-fit: cover;
    object-position: top;
  }
}
