@use "../01-abstracts" as ab;

.head-blog {
  & .banner {
    svg {
      stroke: var(--color-secondary);
    }
  }
  & .nav {
    @include ab.breakpoint-down(md) {
      background-color: var(--color-primary);
      border: 1px solid var(--color-secondary);
    }
  }
}
