@use "../01-abstracts" as ab;
.hero-blog {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-2xl);
  border-bottom: 1px solid var(--color-secondary);
  @include ab.breakpoint(md) {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  & :is(h2, a):hover {
    color: var(--color-gray);
  }
}
