@use "../01-abstracts" as ab;

.banner {
  position: relative;
  --horizontal-alignment: space-between;
  padding-top: var(--space-xl);
  & svg {
    display: none;
  }

  @include ab.breakpoint-down(md) {
    padding-top: var(--space-l);
    & svg {
      display: block;
      cursor: pointer;
      stroke: var(--color-primary);
    }
  }
}

.nav {
  @include ab.breakpoint-down(md) {
    border-radius: 12px;
    border: 1px solid var(--color-primary);
    box-shadow: var(--shadow);
    position: absolute;
    width: 100%;
    top: 7rem;
    z-index: 10;
    padding-block: var(--space-xl);
    opacity: 0;
    background-color: var(--color-secondary);
    visibility: hidden;
    transform: scale(0.95) translateY(-10%);
    transition: 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    &.show {
      visibility: visible;
      opacity: 1;
      transform: scale(1) translate(0);
    }
  }

  &__list {
    @include ab.breakpoint-down(md) {
      flex-direction: column;
      --gutter: var(--space-l);
    }
  }

  &__list .btn {
    @include ab.breakpoint(sm) {
      &:hover {
        transform: scale(0.98) translateX(0%);
      }
    }
  }

  &__list {
    a {
      text-decoration: none;
      background-size: 0% 2px;
      background-image: linear-gradient(45deg, currentcolor 0 0);
      background-position: left bottom;
      background-repeat: no-repeat;
      transition: 0.3s ease, background-position 0s;
      &:hover {
        background-size: 100% 2px;
        background-position: right bottom;
      }
    }
    a[aria-current="page"] {
      background-size: 100% 2px;
      background-position: right bottom;
    }
  }
}
