---
import Form from "../components/Form.astro";
---

<section>
  <div class="container">
    <div
      class="subcribe mt-space-3xl bg-ellipse relative bg-secondary text-primary py-space-2xl px-space-l"
    >
      <h2 class="text-center mx-space-auto relative">
        An enterprise template to ramp up your company website
      </h2>
      <Form />
    </div>
  </div>
</section>
