---
import Slider from "../components/Slider.astro";
---

<section class="bg-secondary py-space-3xl">
  <div class="text-primary container">
    <div class="container-slider">
      <h2 class="pb-space-l">
        An enterprise template to ramp up your company website
      </h2>
      <Slider />
    </div>
  </div>
</section>
